<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AllowClipboardAccess</key>
	<true/>
	<key>AlternateMouseScroll</key>
	<true/>
	<key>Command</key>
	<string>/bin/zsh</string>
	<key>Default Bookmark Guid</key>
	<string>FA66AC80-6AAA-4A3B-9CFE-B934F789D5EF</string>
	<key>EnableProxyIcon</key>
	<false/>
	<key>HapticFeedbackForEsc</key>
	<false/>
	<key>HotkeyMigratedFromSingleToMulti</key>
	<true/>
	<key>New Bookmarks</key>
	<array>
		<dict>
			<key>ASCII Anti Aliased</key>
			<true/>
			<key>ASCII Ligatures</key>
			<true/>
			<key>Ambiguous Double Width</key>
			<false/>
			<key>Ansi 0 Color</key>
			<dict>
				<key>Blue Component</key>
				<string>0</string>
				<key>Green Component</key>
				<string>0</string>
				<key>Red Component</key>
				<string>0</string>
			</dict>
			<key>Ansi 1 Color</key>
			<dict>
				<key>Blue Component</key>
				<string>0</string>
				<key>Green Component</key>
				<string>0</string>
				<key>Red Component</key>
				<string>0.8</string>
			</dict>
			<key>Ansi 10 Color</key>
			<dict>
				<key>Blue Component</key>
				<string>0.2039216</string>
				<key>Green Component</key>
				<string>0.8862745</string>
				<key>Red Component</key>
				<string>0.5411764999999999</string>
			</dict>
			<key>Ansi 11 Color</key>
			<dict>
				<key>Blue Component</key>
				<string>0.3098039</string>
				<key>Green Component</key>
				<string>0.9137255</string>
				<key>Red Component</key>
				<string>0.9882353</string>
			</dict>
			<key>Ansi 12 Color</key>
			<dict>
				<key>Blue Component</key>
				<string>0.8117647</string>
				<key>Green Component</key>
				<string>0.6235294</string>
				<key>Red Component</key>
				<string>0.4470588</string>
			</dict>
			<key>Ansi 13 Color</key>
			<dict>
				<key>Blue Component</key>
				<string>0.6588235</string>
				<key>Green Component</key>
				<string>0.4980392</string>
				<key>Red Component</key>
				<string>0.6784314</string>
			</dict>
			<key>Ansi 14 Color</key>
			<dict>
				<key>Blue Component</key>
				<string>0.8862745</string>
				<key>Green Component</key>
				<string>0.8862745</string>
				<key>Red Component</key>
				<string>0.2039216</string>
			</dict>
			<key>Ansi 15 Color</key>
			<dict>
				<key>Blue Component</key>
				<string>0.9254902</string>
				<key>Green Component</key>
				<string>0.9333333</string>
				<key>Red Component</key>
				<string>0.9333333</string>
			</dict>
			<key>Ansi 2 Color</key>
			<dict>
				<key>Blue Component</key>
				<string>0.02352941</string>
				<key>Green Component</key>
				<string>0.6039215999999999</string>
				<key>Red Component</key>
				<string>0.3058824</string>
			</dict>
			<key>Ansi 3 Color</key>
			<dict>
				<key>Blue Component</key>
				<string>0</string>
				<key>Green Component</key>
				<string>0.627451</string>
				<key>Red Component</key>
				<string>0.7686275</string>
			</dict>
			<key>Ansi 4 Color</key>
			<dict>
				<key>Blue Component</key>
				<string>0.6431373</string>
				<key>Green Component</key>
				<string>0.3960784</string>
				<key>Red Component</key>
				<string>0.2039216</string>
			</dict>
			<key>Ansi 5 Color</key>
			<dict>
				<key>Blue Component</key>
				<string>0.4823529</string>
				<key>Green Component</key>
				<string>0.3137255</string>
				<key>Red Component</key>
				<string>0.4588235</string>
			</dict>
			<key>Ansi 6 Color</key>
			<dict>
				<key>Blue Component</key>
				<string>0.6039215999999999</string>
				<key>Green Component</key>
				<string>0.5960785</string>
				<key>Red Component</key>
				<string>0.02352941</string>
			</dict>
			<key>Ansi 7 Color</key>
			<dict>
				<key>Blue Component</key>
				<string>0.8117647</string>
				<key>Green Component</key>
				<string>0.8431373</string>
				<key>Red Component</key>
				<string>0.827451</string>
			</dict>
			<key>Ansi 8 Color</key>
			<dict>
				<key>Blue Component</key>
				<string>0.3254902</string>
				<key>Green Component</key>
				<string>0.3411765</string>
				<key>Red Component</key>
				<string>0.3333333</string>
			</dict>
			<key>Ansi 9 Color</key>
			<dict>
				<key>Blue Component</key>
				<string>0.1607843</string>
				<key>Green Component</key>
				<string>0.1607843</string>
				<key>Red Component</key>
				<string>0.9372549</string>
			</dict>
			<key>BM Growl</key>
			<true/>
			<key>Background Color</key>
			<dict>
				<key>Blue Component</key>
				<string>0</string>
				<key>Green Component</key>
				<string>0</string>
				<key>Red Component</key>
				<string>0</string>
			</dict>
			<key>Background Image Location</key>
			<string>/Users/joecastro/github/dotFiles/terminal_background_yellow.png</string>
			<key>Background Image Mode</key>
			<integer>2</integer>
			<key>Badge Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>0.5</real>
				<key>Blue Component</key>
				<integer>0</integer>
				<key>Color Space</key>
				<string>sRGB</string>
				<key>Green Component</key>
				<real>0.14910027384757996</real>
				<key>Red Component</key>
				<integer>1</integer>
			</dict>
			<key>Blend</key>
			<real>0.39601391778476003</real>
			<key>Blink Allowed</key>
			<false/>
			<key>Blinking Cursor</key>
			<false/>
			<key>Blur</key>
			<true/>
			<key>Blur Radius</key>
			<real>10.12213803555103</real>
			<key>Bold Color</key>
			<dict>
				<key>Blue Component</key>
				<string>1</string>
				<key>Green Component</key>
				<string>1</string>
				<key>Red Component</key>
				<string>1</string>
			</dict>
			<key>Character Encoding</key>
			<integer>4</integer>
			<key>Close Sessions On End</key>
			<true/>
			<key>Columns</key>
			<integer>140</integer>
			<key>Command</key>
			<string>/bin/zsh</string>
			<key>Cursor Color</key>
			<dict>
				<key>Blue Component</key>
				<string>1</string>
				<key>Green Component</key>
				<string>1</string>
				<key>Red Component</key>
				<string>1</string>
			</dict>
			<key>Cursor Guide Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>0.25</real>
				<key>Blue Component</key>
				<integer>1</integer>
				<key>Color Space</key>
				<string>sRGB</string>
				<key>Green Component</key>
				<real>0.92681378126144409</real>
				<key>Red Component</key>
				<real>0.70214027166366577</real>
			</dict>
			<key>Cursor Text Color</key>
			<dict>
				<key>Blue Component</key>
				<string>0</string>
				<key>Green Component</key>
				<string>0</string>
				<key>Red Component</key>
				<string>0</string>
			</dict>
			<key>Custom Command</key>
			<string>Custom Shell</string>
			<key>Custom Directory</key>
			<string>No</string>
			<key>Default Bookmark</key>
			<string>No</string>
			<key>Description</key>
			<string>Default</string>
			<key>Disable Window Resizing</key>
			<true/>
			<key>Flashing Bell</key>
			<false/>
			<key>Foreground Color</key>
			<dict>
				<key>Blue Component</key>
				<string>1</string>
				<key>Green Component</key>
				<string>1</string>
				<key>Red Component</key>
				<string>1</string>
			</dict>
			<key>Guid</key>
			<string>FA66AC80-6AAA-4A3B-9CFE-B934F789D5EF</string>
			<key>Horizontal Spacing</key>
			<integer>1</integer>
			<key>Icon</key>
			<integer>1</integer>
			<key>Idle Code</key>
			<integer>0</integer>
			<key>Initial Text</key>
			<string></string>
			<key>Initial Use Transparency</key>
			<true/>
			<key>Jobs to Ignore</key>
			<array/>
			<key>Left Option Key Changeable</key>
			<false/>
			<key>Link Color</key>
			<dict>
				<key>Alpha Component</key>
				<integer>1</integer>
				<key>Blue Component</key>
				<real>0.73422712087631226</real>
				<key>Color Space</key>
				<string>sRGB</string>
				<key>Green Component</key>
				<real>0.35915297269821167</real>
				<key>Red Component</key>
				<integer>0</integer>
			</dict>
			<key>Mouse Reporting</key>
			<true/>
			<key>Name</key>
			<string>Zsh the Hard Way</string>
			<key>Non-ASCII Anti Aliased</key>
			<true/>
			<key>Normal Font</key>
			<string>CaskaydiaCoveNerdFontCompleteM-Regular 14</string>
			<key>Only The Default BG Color Uses Transparency</key>
			<false/>
			<key>Option Key Sends</key>
			<integer>0</integer>
			<key>Prompt Before Closing 2</key>
			<false/>
			<key>Right Option Key Sends</key>
			<integer>0</integer>
			<key>Rows</key>
			<integer>25</integer>
			<key>Screen</key>
			<integer>-1</integer>
			<key>Scrollback Lines</key>
			<integer>0</integer>
			<key>Selected Text Color</key>
			<dict>
				<key>Blue Component</key>
				<string>0</string>
				<key>Green Component</key>
				<string>0</string>
				<key>Red Component</key>
				<string>0</string>
			</dict>
			<key>Selection Color</key>
			<dict>
				<key>Blue Component</key>
				<string>1</string>
				<key>Green Component</key>
				<string>0.8353</string>
				<key>Red Component</key>
				<string>0.7098</string>
			</dict>
			<key>Send Code When Idle</key>
			<false/>
			<key>Shortcut</key>
			<string></string>
			<key>Silence Bell</key>
			<false/>
			<key>Space</key>
			<integer>0</integer>
			<key>Sync Title</key>
			<false/>
			<key>Tags</key>
			<array/>
			<key>Terminal Type</key>
			<string>xterm-256color</string>
			<key>Thin Strokes</key>
			<integer>3</integer>
			<key>Transparency</key>
			<real>0.20228557180851064</real>
			<key>Unicode Normalization</key>
			<integer>0</integer>
			<key>Unlimited Scrollback</key>
			<true/>
			<key>Use Bold Font</key>
			<true/>
			<key>Use Bright Bold</key>
			<true/>
			<key>Use Italic Font</key>
			<true/>
			<key>Use Non-ASCII Font</key>
			<false/>
			<key>Vertical Spacing</key>
			<integer>1</integer>
			<key>Visual Bell</key>
			<true/>
			<key>Window Type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>ASCII Anti Aliased</key>
			<true/>
			<key>ASCII Ligatures</key>
			<true/>
			<key>Ambiguous Double Width</key>
			<false/>
			<key>Ansi 0 Color</key>
			<dict>
				<key>Blue Component</key>
				<string>0</string>
				<key>Green Component</key>
				<string>0</string>
				<key>Red Component</key>
				<string>0</string>
			</dict>
			<key>Ansi 1 Color</key>
			<dict>
				<key>Blue Component</key>
				<string>0</string>
				<key>Green Component</key>
				<string>0</string>
				<key>Red Component</key>
				<string>0.8</string>
			</dict>
			<key>Ansi 10 Color</key>
			<dict>
				<key>Blue Component</key>
				<string>0.2039216</string>
				<key>Green Component</key>
				<string>0.8862745</string>
				<key>Red Component</key>
				<string>0.5411764999999999</string>
			</dict>
			<key>Ansi 11 Color</key>
			<dict>
				<key>Blue Component</key>
				<string>0.3098039</string>
				<key>Green Component</key>
				<string>0.9137255</string>
				<key>Red Component</key>
				<string>0.9882353</string>
			</dict>
			<key>Ansi 12 Color</key>
			<dict>
				<key>Blue Component</key>
				<string>0.8117647</string>
				<key>Green Component</key>
				<string>0.6235294</string>
				<key>Red Component</key>
				<string>0.4470588</string>
			</dict>
			<key>Ansi 13 Color</key>
			<dict>
				<key>Blue Component</key>
				<string>0.6588235</string>
				<key>Green Component</key>
				<string>0.4980392</string>
				<key>Red Component</key>
				<string>0.6784314</string>
			</dict>
			<key>Ansi 14 Color</key>
			<dict>
				<key>Blue Component</key>
				<string>0.8862745</string>
				<key>Green Component</key>
				<string>0.8862745</string>
				<key>Red Component</key>
				<string>0.2039216</string>
			</dict>
			<key>Ansi 15 Color</key>
			<dict>
				<key>Blue Component</key>
				<string>0.9254902</string>
				<key>Green Component</key>
				<string>0.9333333</string>
				<key>Red Component</key>
				<string>0.9333333</string>
			</dict>
			<key>Ansi 2 Color</key>
			<dict>
				<key>Blue Component</key>
				<string>0.02352941</string>
				<key>Green Component</key>
				<string>0.6039215999999999</string>
				<key>Red Component</key>
				<string>0.3058824</string>
			</dict>
			<key>Ansi 3 Color</key>
			<dict>
				<key>Blue Component</key>
				<string>0</string>
				<key>Green Component</key>
				<string>0.627451</string>
				<key>Red Component</key>
				<string>0.7686275</string>
			</dict>
			<key>Ansi 4 Color</key>
			<dict>
				<key>Blue Component</key>
				<string>0.6431373</string>
				<key>Green Component</key>
				<string>0.3960784</string>
				<key>Red Component</key>
				<string>0.2039216</string>
			</dict>
			<key>Ansi 5 Color</key>
			<dict>
				<key>Blue Component</key>
				<string>0.4823529</string>
				<key>Green Component</key>
				<string>0.3137255</string>
				<key>Red Component</key>
				<string>0.4588235</string>
			</dict>
			<key>Ansi 6 Color</key>
			<dict>
				<key>Blue Component</key>
				<string>0.6039215999999999</string>
				<key>Green Component</key>
				<string>0.5960785</string>
				<key>Red Component</key>
				<string>0.02352941</string>
			</dict>
			<key>Ansi 7 Color</key>
			<dict>
				<key>Blue Component</key>
				<string>0.8117647</string>
				<key>Green Component</key>
				<string>0.8431373</string>
				<key>Red Component</key>
				<string>0.827451</string>
			</dict>
			<key>Ansi 8 Color</key>
			<dict>
				<key>Blue Component</key>
				<string>0.3254902</string>
				<key>Green Component</key>
				<string>0.3411765</string>
				<key>Red Component</key>
				<string>0.3333333</string>
			</dict>
			<key>Ansi 9 Color</key>
			<dict>
				<key>Blue Component</key>
				<string>0.1607843</string>
				<key>Green Component</key>
				<string>0.1607843</string>
				<key>Red Component</key>
				<string>0.9372549</string>
			</dict>
			<key>BM Growl</key>
			<true/>
			<key>Background Color</key>
			<dict>
				<key>Blue Component</key>
				<string>0</string>
				<key>Green Component</key>
				<string>0</string>
				<key>Red Component</key>
				<string>0</string>
			</dict>
			<key>Background Image Location</key>
			<string>/Users/joecastro/github/dotFiles/terminal_background_red.png</string>
			<key>Background Image Mode</key>
			<integer>2</integer>
			<key>Badge Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>0.5</real>
				<key>Blue Component</key>
				<integer>0</integer>
				<key>Color Space</key>
				<string>sRGB</string>
				<key>Green Component</key>
				<real>0.14910027384757996</real>
				<key>Red Component</key>
				<integer>1</integer>
			</dict>
			<key>Blend</key>
			<real>0.39601391778476003</real>
			<key>Blink Allowed</key>
			<false/>
			<key>Blinking Cursor</key>
			<false/>
			<key>Blur</key>
			<true/>
			<key>Blur Radius</key>
			<real>10.12213803555103</real>
			<key>Bold Color</key>
			<dict>
				<key>Blue Component</key>
				<string>1</string>
				<key>Green Component</key>
				<string>1</string>
				<key>Red Component</key>
				<string>1</string>
			</dict>
			<key>Bound Hosts</key>
			<array>
				<string>*.c.googlers.com</string>
			</array>
			<key>Character Encoding</key>
			<integer>4</integer>
			<key>Close Sessions On End</key>
			<true/>
			<key>Columns</key>
			<integer>140</integer>
			<key>Command</key>
			<string>/bin/zsh</string>
			<key>Cursor Color</key>
			<dict>
				<key>Blue Component</key>
				<string>1</string>
				<key>Green Component</key>
				<string>1</string>
				<key>Red Component</key>
				<string>1</string>
			</dict>
			<key>Cursor Guide Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>0.25</real>
				<key>Blue Component</key>
				<integer>1</integer>
				<key>Color Space</key>
				<string>sRGB</string>
				<key>Green Component</key>
				<real>0.92681378126144409</real>
				<key>Red Component</key>
				<real>0.70214027166366577</real>
			</dict>
			<key>Cursor Text Color</key>
			<dict>
				<key>Blue Component</key>
				<string>0</string>
				<key>Green Component</key>
				<string>0</string>
				<key>Red Component</key>
				<string>0</string>
			</dict>
			<key>Custom Command</key>
			<string>Custom Shell</string>
			<key>Custom Directory</key>
			<string>No</string>
			<key>Default Bookmark</key>
			<string>No</string>
			<key>Description</key>
			<string>Default</string>
			<key>Disable Window Resizing</key>
			<true/>
			<key>Flashing Bell</key>
			<false/>
			<key>Foreground Color</key>
			<dict>
				<key>Blue Component</key>
				<string>1</string>
				<key>Green Component</key>
				<string>1</string>
				<key>Red Component</key>
				<string>1</string>
			</dict>
			<key>Guid</key>
			<string>3ff1a43d-5362-44d3-a443-5f8bdb57aedc</string>
			<key>Horizontal Spacing</key>
			<integer>1</integer>
			<key>Icon</key>
			<integer>1</integer>
			<key>Idle Code</key>
			<integer>0</integer>
			<key>Initial Text</key>
			<string></string>
			<key>Initial Use Transparency</key>
			<true/>
			<key>Jobs to Ignore</key>
			<array/>
			<key>Left Option Key Changeable</key>
			<false/>
			<key>Link Color</key>
			<dict>
				<key>Alpha Component</key>
				<integer>1</integer>
				<key>Blue Component</key>
				<real>0.73422712087631226</real>
				<key>Color Space</key>
				<string>sRGB</string>
				<key>Green Component</key>
				<real>0.35915297269821167</real>
				<key>Red Component</key>
				<integer>0</integer>
			</dict>
			<key>Mouse Reporting</key>
			<true/>
			<key>Name</key>
			<string>Zsh Away from Home</string>
			<key>Non-ASCII Anti Aliased</key>
			<true/>
			<key>Normal Font</key>
			<string>CaskaydiaCoveNerdFontCompleteM-Regular 14</string>
			<key>Only The Default BG Color Uses Transparency</key>
			<false/>
			<key>Option Key Sends</key>
			<integer>0</integer>
			<key>Prompt Before Closing 2</key>
			<false/>
			<key>Right Option Key Sends</key>
			<integer>0</integer>
			<key>Rows</key>
			<integer>25</integer>
			<key>Screen</key>
			<integer>-1</integer>
			<key>Scrollback Lines</key>
			<integer>0</integer>
			<key>Selected Text Color</key>
			<dict>
				<key>Blue Component</key>
				<string>0</string>
				<key>Green Component</key>
				<string>0</string>
				<key>Red Component</key>
				<string>0</string>
			</dict>
			<key>Selection Color</key>
			<dict>
				<key>Blue Component</key>
				<string>1</string>
				<key>Green Component</key>
				<string>0.8353</string>
				<key>Red Component</key>
				<string>0.7098</string>
			</dict>
			<key>Send Code When Idle</key>
			<false/>
			<key>Shortcut</key>
			<string></string>
			<key>Silence Bell</key>
			<false/>
			<key>Space</key>
			<integer>0</integer>
			<key>Sync Title</key>
			<false/>
			<key>Tags</key>
			<array/>
			<key>Terminal Type</key>
			<string>xterm-256color</string>
			<key>Thin Strokes</key>
			<integer>3</integer>
			<key>Title Components</key>
			<integer>256</integer>
			<key>Transparency</key>
			<real>0.20228557180851064</real>
			<key>Triggers</key>
			<array>
				<dict>
					<key>action</key>
					<string>SetHostnameTrigger</string>
					<key>parameter</key>
					<string>\1@\2</string>
					<key>partial</key>
					<true/>
					<key>regex</key>
					<string>^(\w+)@([\w.-]+)</string>
				</dict>
			</array>
			<key>Unicode Normalization</key>
			<integer>0</integer>
			<key>Unlimited Scrollback</key>
			<true/>
			<key>Use Bold Font</key>
			<true/>
			<key>Use Bright Bold</key>
			<true/>
			<key>Use Italic Font</key>
			<true/>
			<key>Use Non-ASCII Font</key>
			<false/>
			<key>Vertical Spacing</key>
			<integer>1</integer>
			<key>Visual Bell</key>
			<true/>
			<key>Window Type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>ASCII Anti Aliased</key>
			<true/>
			<key>ASCII Ligatures</key>
			<true/>
			<key>Ambiguous Double Width</key>
			<false/>
			<key>Ansi 0 Color</key>
			<dict>
				<key>Blue Component</key>
				<string>0</string>
				<key>Green Component</key>
				<string>0</string>
				<key>Red Component</key>
				<string>0</string>
			</dict>
			<key>Ansi 1 Color</key>
			<dict>
				<key>Blue Component</key>
				<string>0</string>
				<key>Green Component</key>
				<string>0</string>
				<key>Red Component</key>
				<string>0.8</string>
			</dict>
			<key>Ansi 10 Color</key>
			<dict>
				<key>Blue Component</key>
				<string>0.2039216</string>
				<key>Green Component</key>
				<string>0.8862745</string>
				<key>Red Component</key>
				<string>0.5411764999999999</string>
			</dict>
			<key>Ansi 11 Color</key>
			<dict>
				<key>Blue Component</key>
				<string>0.3098039</string>
				<key>Green Component</key>
				<string>0.9137255</string>
				<key>Red Component</key>
				<string>0.9882353</string>
			</dict>
			<key>Ansi 12 Color</key>
			<dict>
				<key>Blue Component</key>
				<string>0.8117647</string>
				<key>Green Component</key>
				<string>0.6235294</string>
				<key>Red Component</key>
				<string>0.4470588</string>
			</dict>
			<key>Ansi 13 Color</key>
			<dict>
				<key>Blue Component</key>
				<string>0.6588235</string>
				<key>Green Component</key>
				<string>0.4980392</string>
				<key>Red Component</key>
				<string>0.6784314</string>
			</dict>
			<key>Ansi 14 Color</key>
			<dict>
				<key>Blue Component</key>
				<string>0.8862745</string>
				<key>Green Component</key>
				<string>0.8862745</string>
				<key>Red Component</key>
				<string>0.2039216</string>
			</dict>
			<key>Ansi 15 Color</key>
			<dict>
				<key>Blue Component</key>
				<string>0.9254902</string>
				<key>Green Component</key>
				<string>0.9333333</string>
				<key>Red Component</key>
				<string>0.9333333</string>
			</dict>
			<key>Ansi 2 Color</key>
			<dict>
				<key>Blue Component</key>
				<string>0.02352941</string>
				<key>Green Component</key>
				<string>0.6039215999999999</string>
				<key>Red Component</key>
				<string>0.3058824</string>
			</dict>
			<key>Ansi 3 Color</key>
			<dict>
				<key>Blue Component</key>
				<string>0</string>
				<key>Green Component</key>
				<string>0.627451</string>
				<key>Red Component</key>
				<string>0.7686275</string>
			</dict>
			<key>Ansi 4 Color</key>
			<dict>
				<key>Blue Component</key>
				<string>0.6431373</string>
				<key>Green Component</key>
				<string>0.3960784</string>
				<key>Red Component</key>
				<string>0.2039216</string>
			</dict>
			<key>Ansi 5 Color</key>
			<dict>
				<key>Blue Component</key>
				<string>0.4823529</string>
				<key>Green Component</key>
				<string>0.3137255</string>
				<key>Red Component</key>
				<string>0.4588235</string>
			</dict>
			<key>Ansi 6 Color</key>
			<dict>
				<key>Blue Component</key>
				<string>0.6039215999999999</string>
				<key>Green Component</key>
				<string>0.5960785</string>
				<key>Red Component</key>
				<string>0.02352941</string>
			</dict>
			<key>Ansi 7 Color</key>
			<dict>
				<key>Blue Component</key>
				<string>0.8117647</string>
				<key>Green Component</key>
				<string>0.8431373</string>
				<key>Red Component</key>
				<string>0.827451</string>
			</dict>
			<key>Ansi 8 Color</key>
			<dict>
				<key>Blue Component</key>
				<string>0.3254902</string>
				<key>Green Component</key>
				<string>0.3411765</string>
				<key>Red Component</key>
				<string>0.3333333</string>
			</dict>
			<key>Ansi 9 Color</key>
			<dict>
				<key>Blue Component</key>
				<string>0.1607843</string>
				<key>Green Component</key>
				<string>0.1607843</string>
				<key>Red Component</key>
				<string>0.9372549</string>
			</dict>
			<key>BM Growl</key>
			<true/>
			<key>Background Color</key>
			<dict>
				<key>Blue Component</key>
				<string>0</string>
				<key>Green Component</key>
				<string>0</string>
				<key>Red Component</key>
				<string>0</string>
			</dict>
			<key>Background Image Location</key>
			<string>/Users/joecastro/github/dotFiles/android_army.jpg</string>
			<key>Background Image Mode</key>
			<integer>2</integer>
			<key>Badge Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>0.5</real>
				<key>Blue Component</key>
				<integer>0</integer>
				<key>Color Space</key>
				<string>sRGB</string>
				<key>Green Component</key>
				<real>0.14910027384757996</real>
				<key>Red Component</key>
				<integer>1</integer>
			</dict>
			<key>Blend</key>
			<real>0.39601391778476003</real>
			<key>Blink Allowed</key>
			<false/>
			<key>Blinking Cursor</key>
			<false/>
			<key>Blur</key>
			<true/>
			<key>Blur Radius</key>
			<real>10.12213803555103</real>
			<key>Bold Color</key>
			<dict>
				<key>Blue Component</key>
				<string>1</string>
				<key>Green Component</key>
				<string>1</string>
				<key>Red Component</key>
				<string>1</string>
			</dict>
			<key>Bound Hosts</key>
			<array>
				<string>*.c.googlers.com:/*/master</string>
				<string>*.c.googlers.com:/*/master/*</string>
				<string>*.c.googlers.com:/*/main</string>
				<string>*.c.googlers.com:/*/main/*</string>
				<string>*.c.googlers.com:/*/udc_dev</string>
				<string>*.c.googlers.com:/*/udc_dev/*</string>
			</array>
			<key>Character Encoding</key>
			<integer>4</integer>
			<key>Close Sessions On End</key>
			<true/>
			<key>Columns</key>
			<integer>140</integer>
			<key>Command</key>
			<string>/bin/zsh</string>
			<key>Cursor Color</key>
			<dict>
				<key>Blue Component</key>
				<string>1</string>
				<key>Green Component</key>
				<string>1</string>
				<key>Red Component</key>
				<string>1</string>
			</dict>
			<key>Cursor Guide Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>0.25</real>
				<key>Blue Component</key>
				<integer>1</integer>
				<key>Color Space</key>
				<string>sRGB</string>
				<key>Green Component</key>
				<real>0.92681378126144409</real>
				<key>Red Component</key>
				<real>0.70214027166366577</real>
			</dict>
			<key>Cursor Text Color</key>
			<dict>
				<key>Blue Component</key>
				<string>0</string>
				<key>Green Component</key>
				<string>0</string>
				<key>Red Component</key>
				<string>0</string>
			</dict>
			<key>Custom Command</key>
			<string>Custom Shell</string>
			<key>Custom Directory</key>
			<string>No</string>
			<key>Default Bookmark</key>
			<string>No</string>
			<key>Description</key>
			<string>Default</string>
			<key>Disable Window Resizing</key>
			<true/>
			<key>Flashing Bell</key>
			<false/>
			<key>Foreground Color</key>
			<dict>
				<key>Blue Component</key>
				<string>1</string>
				<key>Green Component</key>
				<string>1</string>
				<key>Red Component</key>
				<string>1</string>
			</dict>
			<key>Guid</key>
			<string>c27ac0d7-60ed-4a7a-940e-53d88f9b742f</string>
			<key>Horizontal Spacing</key>
			<real>1</real>
			<key>Icon</key>
			<integer>1</integer>
			<key>Idle Code</key>
			<integer>0</integer>
			<key>Initial Text</key>
			<string></string>
			<key>Initial Use Transparency</key>
			<true/>
			<key>Jobs to Ignore</key>
			<array/>
			<key>Left Option Key Changeable</key>
			<false/>
			<key>Link Color</key>
			<dict>
				<key>Alpha Component</key>
				<integer>1</integer>
				<key>Blue Component</key>
				<real>0.73422712087631226</real>
				<key>Color Space</key>
				<string>sRGB</string>
				<key>Green Component</key>
				<real>0.35915297269821167</real>
				<key>Red Component</key>
				<integer>0</integer>
			</dict>
			<key>Mouse Reporting</key>
			<true/>
			<key>Name</key>
			<string>Work Away from Home</string>
			<key>Non Ascii Font</key>
			<string>Monaco 12</string>
			<key>Non-ASCII Anti Aliased</key>
			<true/>
			<key>Normal Font</key>
			<string>CaskaydiaCoveNerdFontCompleteM-Regular 14</string>
			<key>Only The Default BG Color Uses Transparency</key>
			<false/>
			<key>Option Key Sends</key>
			<integer>0</integer>
			<key>Prompt Before Closing 2</key>
			<false/>
			<key>Right Option Key Sends</key>
			<integer>0</integer>
			<key>Rows</key>
			<integer>25</integer>
			<key>Screen</key>
			<integer>-1</integer>
			<key>Scrollback Lines</key>
			<integer>0</integer>
			<key>Selected Text Color</key>
			<dict>
				<key>Blue Component</key>
				<string>0</string>
				<key>Green Component</key>
				<string>0</string>
				<key>Red Component</key>
				<string>0</string>
			</dict>
			<key>Selection Color</key>
			<dict>
				<key>Blue Component</key>
				<string>1</string>
				<key>Green Component</key>
				<string>0.8353</string>
				<key>Red Component</key>
				<string>0.7098</string>
			</dict>
			<key>Send Code When Idle</key>
			<false/>
			<key>Shortcut</key>
			<string></string>
			<key>Silence Bell</key>
			<false/>
			<key>Space</key>
			<integer>0</integer>
			<key>Sync Title</key>
			<false/>
			<key>Tags</key>
			<array/>
			<key>Terminal Type</key>
			<string>xterm-256color</string>
			<key>Thin Strokes</key>
			<integer>3</integer>
			<key>Transparency</key>
			<real>0.20228557180851064</real>
			<key>Triggers</key>
			<array>
				<dict>
					<key>action</key>
					<string>SetHostnameTrigger</string>
					<key>parameter</key>
					<string>\1@\2</string>
					<key>partial</key>
					<true/>
					<key>regex</key>
					<string>^(\w+)@([\w.-]+)</string>
				</dict>
			</array>
			<key>Unicode Normalization</key>
			<integer>0</integer>
			<key>Unlimited Scrollback</key>
			<true/>
			<key>Use Bold Font</key>
			<true/>
			<key>Use Bright Bold</key>
			<true/>
			<key>Use Italic Font</key>
			<true/>
			<key>Use Non-ASCII Font</key>
			<false/>
			<key>Vertical Spacing</key>
			<real>1</real>
			<key>Visual Bell</key>
			<true/>
			<key>Window Type</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>PerPaneBackgroundImage</key>
	<false/>
	<key>PointerActions</key>
	<dict>
		<key>Button,1,1,,</key>
		<dict>
			<key>Action</key>
			<string>kContextMenuPointerAction</string>
		</dict>
		<key>Button,2,1,,</key>
		<dict>
			<key>Action</key>
			<string>kPasteFromClipboardPointerAction</string>
		</dict>
		<key>Gesture,ThreeFingerSwipeDown,,</key>
		<dict>
			<key>Action</key>
			<string>kPrevWindowPointerAction</string>
		</dict>
		<key>Gesture,ThreeFingerSwipeLeft,,</key>
		<dict>
			<key>Action</key>
			<string>kPrevTabPointerAction</string>
		</dict>
		<key>Gesture,ThreeFingerSwipeRight,,</key>
		<dict>
			<key>Action</key>
			<string>kNextTabPointerAction</string>
		</dict>
		<key>Gesture,ThreeFingerSwipeUp,,</key>
		<dict>
			<key>Action</key>
			<string>kNextWindowPointerAction</string>
		</dict>
	</dict>
	<key>ShowPaneTitles</key>
	<false/>
	<key>SoundForEsc</key>
	<false/>
	<key>StatusBarPosition</key>
	<integer>0</integer>
	<key>TabStyleWithAutomaticOption</key>
	<integer>6</integer>
	<key>UseBorder</key>
	<true/>
	<key>VisualIndicatorForEsc</key>
	<false/>
	<key>findMode_iTerm</key>
	<integer>0</integer>
</dict>
</plist>
